# build files
build
coverage
tsconfig.*tsbuildinfo

# dependencies
node_modules
npm-debug.log*
lerna-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock
package-lock.json
!/yarn.lock

# editors
.vscode
.idea

# expo
.expo
*.jks
*.p12
*.key
*.mobileprovision
*.orig.*
web-build
web-report

# misc
.DS_Store

# see: https://github.com/expo/expo/issues/10285
example/AppEntry.js
