---
name: Preview
on: [pull_request]
jobs:
  preview:
    name: Publish preview
    runs-on: ubuntu-latest
    if: github.event.pull_request.head.repo.full_name == 'bycedric/use-expo'
    steps:
      - name: Setup repository
        uses: actions/checkout@v2

      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: 12.x

      - name: Setup Expo
        uses: expo/expo-github-action@fix/unhandled-promise-rejection
        with:
          expo-version: 3.x
          expo-username: bycedric
          expo-password: wrongpassword
          expo-cache: true

      - name: Install dependencies
        run: yarn install

      - name: Build packages
        run: yarn build

      - name: Publish preview
        run: expo publish example --release-channel=pr-${{ github.event.number }}

      - name: Get deployment link
        run: echo "::set-output name=path::@bycedric/use-expo?release-channel=pr-${{ github.event.number }}"
        id: expo

      - name: Comment deployment link
        uses: unsplash/comment-on-pr@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          msg: A preview of this PR is deployed! You can [preview the app here](https://expo.io/${{ steps.expo.outputs.path }}).<br><br><a href="https://exp.host/${{ steps.expo.outputs.path }}"><img src="https://api.qrserver.com/v1/create-qr-code/?size=400x400&data=exp://exp.host/${{ steps.expo.outputs.path }}" height="200px" width="200px"></a>
